.DS_Store
.nextflow/
poetry.lock
pyproject.toml
test.nf
vuegen_docker_stautorun.nf
vuegen_pythonscript.nf
vuegen_docker.nf
work/
*.log*
output_docker/
nf_container_results/
nf-core_module_template/
Earth_microbiome_vuegen_demo_notebook/
Basic_example_vuegen_demo_notebook/


