process.container = 'quay.io/dtu_biosustain_dsp/vuegen:v0.3.1-nextflow'
docker.enabled = true
params {
    config = null
    directory = null
}

workflow.onComplete = {
    println """\n
    ────────────────────────────────────────────────────────────
    🎉 Pipeline Execution Complete! 🎉
    """.stripIndent()

    if (params.report_type == 'streamlit') {
        println """\
        🚀 Streamlit Report Generated!
        
        📂 All scripts to build the Streamlit app are available at:
            nf_container_results/streamlit_report/sections

        ▶️ To run the Streamlit app, use the following command:
          streamlit run nf_container_results/streamlit_report/sections/report_manager.py

        ✨ You can extend the report by adding new files to the input directory or updating the config file.
        
        🛠️ Advanced users can modify the Python scripts directly in:
            nf_container_results/streamlit_report/sections
        """.stripIndent()
    } else {
        println """\
        🚀 ${params.report_type.capitalize()} Report Generated!
        
        📂 Your ${params.report_type} report is available at:
            nf_container_results/quarto_report
        
        ✨ You can extend the report by adding new files to the input directory or updating the config file.
        
        🛠️ Advanced users can modify the report template directly in:
            nf_container_results/quarto_report/quarto_report.qmd
        """.stripIndent()
    }

    println """\
    ────────────────────────────────────────────────────────────
    """.stripIndent()
}